<p class="text-center text-muted" *ngIf="!animals.length">
  Sorry, there is no animals to show
</p>

<div class="row m-0">
  <div *ngFor="let animal of animals" class="col-md-4 px-2">
    <a [routerLink]="['/animals', animal.id]">
      <app-card>
        <app-animal
          [url]="animal.url"
          [description]="animal.description"
        ></app-animal>
        <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">
          {{ animal.likes }}
        </i>
        <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">
          {{ animal.comments }}
        </i>
      </app-card>
    </a>
  </div>
</div>
