<br />
<h4 class="text-center">Sign-up and show your doggie to the world!</h4>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="register()">
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      placeholder="E-mail"
      formControlName="email"
    />
    <app-message
      *ngIf="
        newUserForm.get('email')?.errors?.required &&
        newUserForm.get('email')?.touched
      "
      messageText="Mandatory e-mail"
    ></app-message>
    <app-message
      messageText="Invalid e-mail"
      *ngIf="
        newUserForm.get('email')?.errors?.email &&
        newUserForm.get('email')?.touched
      "
    ></app-message>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Fullname"
      formControlName="fullName"
    />
    <app-message
      messageText="Invalid name"
      *ngIf="
        newUserForm.get('fullName')?.errors &&
        newUserForm.get('fullName')?.touched
      "
    ></app-message>
  </div>
  <div class="form-group">
    <input
      type="text"
      autocomplete="username"
      class="form-control"
      formControlName="userName"
      placeholder="username"
    />
    <app-message
      *ngIf="
        newUserForm.get('userName')?.errors?.required &&
        newUserForm.get('userName')?.touched
      "
      messageText="Mandatory username"
    ></app-message>
    <app-message
      *ngIf="
        newUserForm.get('userName')?.errors?.lower &&
        newUserForm.get('userName')?.touched
      "
      messageText="username must be in lowercase"
    ></app-message>
    <app-message
      *ngIf="
        newUserForm.get('userName')?.errors?.exists &&
        newUserForm.get('userName')?.touched
      "
      messageText="username already exists"
    ></app-message>
  </div>
  <div class="form-group">
    <input
      type="password"
      autocomplete="new-password"
      formControlName="password"
      class="form-control"
      placeholder="Password"
    />
    <app-message
      *ngIf="newUserForm?.errors?.userEqualsPassword"
      messageText="Password can't be equal to username"
    >
    </app-message>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Sign-up</button>
</form>
<br />
<p>Is already a user? <a [routerLink]="['']">Sign In</a></p>
